{% extends 'base.html' %}

{% block content %}
<section class="white-section" id="register">
    <div class="container-fluid">
        <div class="row card pb-1 pt-1" style="font-size:20px;">
          <video autoplay></video>
    <img src="">
    <script>
        // get video dom element
        const video = document.querySelector('video');
        
        // get img dom element
        const img = document.querySelector('img');
        
        // request access to webcam
        navigator.mediaDevices.getUserMedia({video: {width: 426, height: 240}}).then((stream) => video.srcObject = stream);
        
        // returns a frame encoded in base64
        const getFrame = () => {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);
            const data = canvas.toDataURL('image/png');
            return data;
        }

        const WS_URL = 'ws://localhost:8000/faces/faces'; // Change this if you serve on different server or port
        const FPS = 3;
        const ws = new WebSocket(WS_URL);

        ws.onopen = () => {
            console.log(`Connected to ${WS_URL}`);
            setInterval(() => {
                ws.send(getFrame());
            }, 1000 / FPS);
        }

        ws.onmessage = message => {
            // set the base64 string to the src tag of the image
            img.src = message.data;
        }
    </script>
          <form action="faces" method="POST" style="margin: 0 auto;" enctype="multipart/form-data">
            {% csrf_token %}
              <label for="face_d" class="form-label">CAPTURE IMAGE FOR DETECTION</label>
              <br>
              <br>
              <button type="submit" class="btn btn-secondary"><i class="fa fa-camera" style="font-size:36px"></i></button><br>
            </form>
        </div>     
        <div class="row">
          {% for message in messages %}
          <h3 style='text-align:center'>{{message}}</h3>
          {% endfor %}
      </div>
    </div>
  </section>
  <!-- <script>
    var video = document.querySelector("#videoElement");
    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({video: true}).then(function(stream) {
          video.srcObject = stream;
      }).catch(function(err0r) {
          console.log("Something went wrong!");
      });
    }
  </script>-->
{% endblock %}